.spidy{
    height: 400px;
    color: red;
    /* text-align: left; */
    background-image: url(spider-man-miles-morales-playstation-4-playstation-5-3840x2160-5049.png);
    background-size: cover;
    text-shadow: 3px black;
}
.kacchi{
    color: orange;
    height: 720px;
    width: 720px;
    background-image: url(mutton-kacchi-full-bashmoti.webp);
    background-size: contain;
}
#spiii{
    width: 50%;
    padding-left: 15px;
}
.imm{
    padding-left: 60px;
}
.more{
    text-align: center;
    padding-top: 30px;
}
#about{
    /* margin: 30px; */
    padding: 30px;
}
.butcl{
    background-color: mediumseagreen;
    /* color: brown; */
    box-shadow: 5px 5px 9px orange;
}
.spibtn{
    background-color: cornflowerblue;
    box-shadow: 5px 5px 8px  orangered;
    
}